
@charset "utf-8";
/*CSS Document*/

body {
    text-align: center;
    background: #4790f5;
    background-size: cover;

}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
video  {
    margin: 20px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}
img {
    border: 1px solid #ccc;

}
.fast {
    image-rendering: auto;
}




